body {
    padding-left:12em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:navy;
    background-color:lightblue;
}
#main {
    padding:28px;
    background-color:lightblueer:8px 4px 4p:8px 4px 4px 4px
    font-family:Arial, Helvetica, sans-serif;
    color:cornflowerblue;
    padding-top:2em;
}
